{{!-- *********************************************************************************************
* WEB322 – Assignment 4
* I declare that this assignment is my own work in accordance with Seneca Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: João Vitor Andrade Miranda Student ID: 116499203 Date: 07/07/2022
*
* Online (Heroku) URL:  https://guarded-temple-56095.herokuapp.com/
*
********************************************************************************************** --}}
<div class="row">
    <section class="main col-md-9">
        {{#if data.posts}}
            <article>
                <h2>Post Title</h2>
                <img src={{data.post.featureImage}} alt="feature Image" style="width:100%" />
                {{#safeHTML data.post.body}}{{/safeHTML}}
                <strong>Category:</strong>{{data.post.category}}<br/>
                <strong>Last Updated:</strong>{{data.post.postDate}}
            </article>
        {{#else}}
            <div class="col-md-12 text-center">
                <h2>{{data.message}}</h2>
                <p>Please try another Post / Category</p>
            </div>
        {{/else}}
        {{/if}}

    </section>
    <aside class="col-md-3">
        <br /><br />
        <h4>Posts</h4>
        <ul class="list-group">
            {{#if data.posts}}
            {{#each data.posts}}
                <a href="/blog/{{id}}?category="{{../viewingCategory}} class="list-group-item">{{title}}</a>
            {{/each}}
            {{/if}}
        </ul>
        <h4>Categories</h4>
        <ul class="list-group">
           {{#if data.categories}}
           {{#each data.categories}}
                <a href="/blog?category={{id}}" class="list-group-item">{{category}}</a>
           {{/each}}
           {{/if}}
        </ul>
    </aside>
</div>