{{!-- *********************************************************************************************
* WEB322 – Assignment 4
* I declare that this assignment is my own work in accordance with Seneca Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: João Vitor Andrade Miranda Student ID: 116499203 Date: 07/07/2022
*
* Online (Heroku) URL:  https://guarded-temple-56095.herokuapp.com/
*
********************************************************************************************** --}}
<div class="row">
    <div class="col-md-12">
        <h2>Posts</h2>
        <hr/>
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Post&nbsp;ID</th>
                        <th>Title</th>
                        <th>Post&nbsp;Date</th>
                        <th>Category</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{title}}</td>
                            <td>{{postDate}}</td>
                            <td><a href="/posts?category={{category}}">{{category}}</a></td>
                            <td>{{published}}</td>
                        </tr>
                    {{/each}}
                    {{#unless posts}}
                        <div class="col-md-12 text-center">
                            <strong>{{message}}</strong>
                        </div>
                    {{/unless}}
                </tbody>
            </table>
        </div>
    </div>
</div>